gTTS
elevenlabs
stftpitchshift==1.5.1
torchcrepe==0.0.20
setuptools
wheel
httpx==0.23.0
faiss-cpu==1.7.3
faiss-gpu
fairseq
gradio==3.14.0
ffmpeg-python==0.2.0
praat-parselmouth==0.4.3
pyworld==0.3.2
numpy==1.23.5
i18n
numba==0.56.4
librosa==0.9.1
mega.py
mega==0.2.11
gdown
onnxruntime
pyngrok==4.1.12
torch==2.0.1
streamlit==1.27.0
audio-recorder-streamlit
requests 
soundfile
